// COLORS

// ### Primary

// - Soft red: hsl(7, 99%, 70%)
// - Yellow: hsl(51, 100%, 49%)
// - Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
// - Dark blue (photography text): hsl(198, 62%, 26%)
// - Dark moderate cyan (footer): hsl(168, 34%, 41%)

// ### Neutral

// - Very dark desaturated blue: hsl(212, 27%, 19%)
// - Very dark grayish blue: hsl(213, 9%, 39%)
// - Dark grayish blue: hsl(232, 10%, 55%)
// - Grayish blue: hsl(210, 4%, 67%)
// - White: hsl(0, 0%, 100%)

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: hsl(232, 10%, 55%);
  line-height: 30px;
}

// Typography
.heading-primary {
  font-family: "Fraunces", serif;
  font-size: 40px;
  font-weight: 900;
  color: hsl(0, 0%, 100%);
  letter-spacing: 8px;
  text-align: center;
  text-transform: uppercase;
  line-height: 50px;
}

.heading-secondary {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 35px;
  color: hsl(212, 27%, 19%);

  &--graphic {
    font-size: 30px;
    color: hsl(167, 40%, 24%);
  }

  &--photography {
    font-size: 30px;
    color: hsl(198, 62%, 26%);
  }
}

.heading-tertiary {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 16px;
  color: hsl(210, 4%, 67%);
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 20px 0;
}

.paragraph {
  padding: 30px 0;

  &--graphic {
    color: hsl(167, 40%, 24%);
    font-size: 16px;
  }

  &--photography {
    color: hsl(212, 27%, 19%);
    font-size: 16px;
  }

  &--testimonials {
    color: hsl(213, 9%, 39%);
    padding-top: 0;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.navigation-button {
}

.navigation-item {
  text-decoration: none;
  color: hsl(210, 4%, 67%);
}

.header {
  min-height: 100vh;
  background-image: url(images/mobile/image-header.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;

  &__box {
    // position: absolute;
    // top: 30px;
    // left: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
  }

  &__title-box {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__arrow {
    padding-top: 45px;
    text-align: center;
  }

  &__navigation {
    position: absolute;
    left: 300px;
  }
}

.section-image {
  width: 100%;
  vertical-align: top;
}

.section-text {
  text-align: center;
  padding: 60px 30px;
}

.button-text {
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  color: hsl(212, 27%, 19%);
  display: inline-block;
  line-height: 8px;
  padding: 0 8px;

  &--1 {
    border-bottom: 8px solid hsla(51, 100%, 49%, 0.2);
  }

  &--2 {
    border-bottom: 8px solid hsla(7, 99%, 70%, 0.2);
  }
}

.section-graphics {
  position: relative;
}

.section-graphics-text {
  text-align: center;
  position: absolute;
  top: 55%;
  padding: 60px 10px 30px;
}

.section-testimonials {
  padding: 50px 40px;
}

.section-client-testimonials {
  text-align: center;
  padding-bottom: 30px;
}

.client {
  margin: 40px 0;
  border-radius: 50%;
  width: 80px;
}

.client-name {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 20px;
  color: hsl(212, 27%, 19%);
}

.client-paragraph {
  color: hsl(210, 4%, 67%);
  font-size: 14px;
}

.gallery {
  width: 100%;
}

// GRID
.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer {
  background-color: hsl(167, 44%, 70%);
  text-align: center;
  padding: 60px 30px;
}

.footer-logo {
  filter: invert(52%) sepia(18%) saturate(958%) hue-rotate(118deg)
    brightness(90%) contrast(86%);
  width: 50%;
}

.footer-nav-item {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}

.footer-nav-link {
  text-decoration: none;
  color: hsl(168, 34%, 41%);
}

.footer-social-item {
  display: flex;
  justify-content: space-around;
  margin: 55px;
}

// .attribution {
//   font-size: 11px;
//   text-align: center;
// }
// .attribution a {
//   color: hsl(228, 45%, 44%);
// }
